#verticle {
    border-left: 4px solid rgb(211, 19, 19);
    height: 100px;
    position: absolute;
    left: 25%;
    margin-left: -2px;
    top: 30px;
}
#verticle1 {
    border-left: 4px solid rgb(211, 19, 19);
    height: 100px;
    position: absolute;
    left: 75%;
    margin-left: -2px;
    top: 30px;
}

hr{
    height: 30px;
    background-color: red;
}
#verticle2 {
    border-left: 4px solid rgb(211, 19, 19);
    height: 100px;
    position: absolute;
    left: 25%;
    margin-left: -2px;
    top: 200px;
    text-align: left;
}
#verticle3 {
    border-left: 4px solid rgb(211, 19, 19);
    height: 100px;
    position: absolute;
    left: 75%;
    margin-left: -2px;
    top: 200px;
    text-align: left;
}
