.duz-cercevee{
	border:3px solid navy;

	width:600px;
    padding: 20px;
    margin: 50px;
}
.duz-cerceve{
	border:3px solid navy;

	width:600px;
    padding: 20px;
    margin: 50px;
}
.duz-cerceve2{
	border:3px solid navy;

	width:600px;
    padding: 20px;
    margin: 50px;
}
